@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@700&display=swap');

* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: #01000E;
}

/*Header*/

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.3em;
    align-items: center;
    width: 100%;
    background-color: #2e006b;
}

.nav-btn {
    color: #fff;
    display: none;
}

#nav-check {
    display: none;
}

.nav-links {
    width: 50%;
    display: inline-flex;
    justify-content: flex-end;
    column-gap: 20px;
    font-size: 18px;
    border: none;
    border-radius: 0 0 10px 10px;
}

.nav-links a {
    display: inline-block;
    padding: 10px 10px;
    text-decoration: none;
    color: #efefef;
}

.nav-links a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.logo {
    width: 60%;
}

/*Header*/

/*conteúdo principal*/

main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#titulo {
    width: 100%;
    height: 20%;
}

#video {
    width: 100%;
    display: flex;
    justify-content: center;
}

h1 {
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 2.6em;
}

iframe {
    border: 1px solid #fff;
    border-radius: 10px;
}

button {
    width: 120px;
    height: 30px;
    margin: auto;
    color: #2e006b;
    border-radius: 20px;
    box-shadow: 2px 2px 3px rgba(59, 59, 59, 0.39);
}

button:hover {
    background-color: grey;
}

button>a {
    color: #2e006b;
    text-decoration: none;
}

/*conteúdo principal*/

/*mobile version*/
@media (max-width:768px) {
    header {
        width: 100%;
        padding: 10px;
        justify-content: space-between;
    }

    .nav-btn {
        display: block;
    }

    .menu-btn {
        width: 40px;
    }

    .logo {
        width: 40%;
    }

    .menu-btn:hover,
    .nav #nav-check:checked~.nav-btn label {
        background-color: rgba(0, 0, 0, 0.3);
        cursor: pointer;
    }

    .nav-btn label span {
        display: block;
        width: 25px;
        height: 5px;
        background-color: #eee;
        border-radius: 5px;
    }

    .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #060020;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }

    .nav-links a {
        display: block;
        width: 100%;
        padding-left: 20px;
    }

    #nav-check:not(:checked)~.nav-links {
        height: 0px;
    }

    #nav-check:checked~.nav-links {
        margin-top: 25px;
        height: 150px;
        overflow-y: hidden;
    }

    iframe {
        height: 250px;
        width: 70%;
    }
}

/*mobile version*/